/* ========================================================================== */
/* Déclaration initiale for BOX-SIZING */
* {
    box-sizing: content-box;
   /* box-sizing est appliqué à tous les éléments */
   }

/* ========================================================================== */
/* Definition of the Google font polices */
body{
    font-family: "Raleway", Verdana, sans-serif;
}

/* ========================================================================== */
/* Definition of the Icon Fontawesome style */
i {
    color: #0065FC
}

/* ========================================================================== */
/* Definition of the bloc_page style */
/* Computer screen ; standard style */
#bloc_page{
    width: 992px;
    margin: auto;
}

/* Tablette screen */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #bloc_page{
        width: auto;
        margin: auto;
    }
}

/* Phone screen ; standard style */
@media screen and (max-width: 767px)
{
    #bloc_page{
        width: auto;
        margin: auto;
    }
}

/* ========================================================================== */
/* Definition of the Header style */
header{
    display: flex; /* use of flexbox */
    justify-content: space-between;
    align-items: center;
}

header img{ /* Style for the logo */
    width: 65px;
    margin: 0px 0px 0px 45px;
}

header h1{ /* Style for the logo */
    margin: 15px 0px 15px 0px;
    padding: 0px;
}

nav ul
{
    list-style-type: none; /* no puce */
    display: flex; /* use of flexbox for li */
    margin: 0px 25px 0px 25px; /* 25px from page border */
}

nav a
{
    font-size: 85%;
    font-weight: 400;
    color: #000;
    padding: 26px 30px 0px 20px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Tablette screen */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    /* No specification for the moment */
}

/* Phone screen ; standard style */
@media screen and (max-width: 767px)
{
    header{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    header img{ /* Style for the logo */
        margin-left: 15px;
    }

    header h1{ /* Style for the logo */
        text-align: center;
    }

    nav ul
    {
        margin: 0px; /* 25px from page border */
        padding: 0px;
    }

    nav li
    {
        width: 100%;
        margin: auto; /* 10px from page border */
        padding: 0px;
        display: flex;
        justify-content: stretch;
    }

    nav a
    {
        width: 100%;
        text-align: center;
        font-size: 75%;
        padding: 5px 0px 10px 0px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav a:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: 0px solid #0065FC;
    }
}

/* ========================================================================== */
/* Definition of the 'Recherche' Section style */
.s_recherche h1{
    margin: 0px 0px 0px 35px;
    font-size: 95%;
    font-weight: 600;
}

.s_recherche p{
    margin: 0px 0px 0px 35px;
    padding: 5px 0px 5px 0px;
    font-size: 70%;
}

form{
    margin-top: 5px;
    margin-bottom: 20px;
}

label i{
    appearance: none;
    color: #000;
    background-color: #F2F2F2;
    padding: 13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px;
}

input{
    margin: 0px;
    font-weight: 600;
    font-size: 110%;
}

input:hover{
    background-color: #000;
}

.f_ville{
    size: 30;
    padding: 10.5px;
    border-width: 1px 0px 1px 0px;
    border-color: #F2F2F2;
    border-style: solid;
    color: #000;
    background-color: #FFF;
    position: relative;
    left: -3px;
}

.f_button{
    padding: 11.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    border: 0px solid #0065FC;
    color: #FFF;
    position: relative;
    left: -6px;
}

.filtres{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 0px 35px;
}

.filtres h2{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 85%;
    font-weight: 600;
    padding-right: 20px;
}

ul{
    display: flex;
    list-style-type: none; /* no puce */
    font-weight: 600;
    font-size: 80%;
    padding: 0px;
}

li span{
    margin-right: -2px;
    padding: 7px 12px 7px 30px;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: -20px;
    z-index: 1;
}

li i{
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 25px;
    position: relative;
    z-index: 2;
}

.economique i{
    background-color: #DEEBFF;
    padding: 10px 8px 10px 8px;
    border-radius: 25px;
}

.familial i{
    background-color: #DEEBFF;
    padding: 10px 12px 10px 12px;
    border-radius: 25px;
}

.info span{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 1px;
}

.info i{
    background-color: #FFF;
    font-size: 80%;
    border: 1px solid #F2F2F2;
    padding: 4px 7px 4px 7px;
    border-radius: 30px;
    margin-right: 8px;
}

/* #0065FC Bleu */
/* #DEEBFF bleu clair */
/* #F2F2F2 gris */

/* 6000 largeur pour 992 => facteur de 6 */



