/* ========================================================================== */
/* Déclaration initiale for BOX-SIZING */
* {
    box-sizing: content-box;
   /* box-sizing est appliqué à tous les éléments */
   }

/* ========================================================================== */
/* Definition of the Google font polices */
body{
    font-family: "Raleway", Verdana, sans-serif;
    display: flex;
}

/* ========================================================================== */
/* Definition of the bloc_page style */
/* Computer screen ; standard style and other with 'viewport' param in html */
#bloc_page{
    max-width: 1400px;
    margin: auto;
}

/* Tablette screen */
/*@media screen and (min-width: 768px) and (max-width: 991px)
{
    #bloc_page{
        width: auto;
        margin: auto;
    }
}*/

/* Phone screen ; standard style */
/*@media screen and (max-width: 767px)
{
    #bloc_page{
        width: auto;
        margin: auto;
    }
}*/

/* ========================================================================== */
/* Definition of the Header style */
header{ /* header first layer style : use of flex-box */
    max-width: 1200px;
    width: 100%;
    display: flex; /* use of flexbox */
    justify-content: space-between;
    align-items: center;
}

.logo_header{ /* Style of the image for the logo */
    width: 65px;
    margin: 32px 0px 30px 45px;
}

.menu ul /* Style of the nav menu */
{
    list-style-type: none; /* no puce */
    display: flex; /* use of flexbox for li */
    margin: 0px 25px 0px 25px; /* 25px from page border */
}

.menu a /* Style of the link in the nav menu */
{
    font-size: 85%;
    font-weight: 400;
    color: #000;
    padding: 37px 30px 0px 20px;
    text-decoration: none; /* No link default style */
}

.menu a:hover /* Style of the link in the nav menu when pointer hover */
{
    color: #0065FC;
    border-top: 2px solid #0065FC; /* Border appear */
}

/* Tablette screen */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    /* No specification for the moment */
}

/* Phone screen ; standard style */
@media screen and (max-width: 767px)
{
    header{ /* header first layer style : modification of flex-box behavior */
        flex-direction: column; /* Change of the direction for logo and nav menu */
        justify-content: center; /* center in the main direction */
        align-items: stretch; /* stretch to fill the place in the second direction */
    }

    .logo_header{ /* Style of the image for the logo */
        width: 100px;
        margin: 25px auto 30px auto; /* Reduction of the margin in the left */
        text-align: center; /* center the text */
        padding-left: 25px; /* correction gap in order to center picture */
    }

    .menu ul /* Style of the nav menu */
    {
        margin: 0px; /* No more margin for ul */
        padding: 0px; /* No more padding for ul */
    }

    .menu li /* Style of the items in the nav menu */
    {
        width: 100%; /* Set width 100% to fill space */
        margin: auto; /* margin auto to center */
        padding: 0px; /* no padding for border when hover */
        display: flex; /* to position the link */
        justify-content: stretch; /* to fill the place */
    }

    .menu a /* Style of the link in the nav menu */
    {
        width: 100%; /* Set width 100% to fill space */
        text-align: center; /* Get text centered */
        font-size: 140%;
        padding: 5px 0px 15px 0px; /* top and bottom padding to position and border distance */
        border-bottom: 3px solid #F2F2F2; /* set grey border for non-hover link */
    }

    .menu a:hover /* Style of the link in the nav menu when pointer hover */
    {
        border-bottom: 3px solid #0065FC; /* set bottom border for hover link */
        border-top: 0; /* no more top border for hover link from normal screen */
    }
}

/* ========================================================================== */
/* Definition of the 'Recherche' Section style */
.s_recherche{ /* First layer style */
    max-width: 1200px;
    width: 100%;
}

.s_recherche h1{ /* First title style */
    margin: 0px 0px 0px 35px; /* margin left to position the text and 0 for other */
    font-size: 95%;
    font-weight: 600;
}

.s_recherche p{ /* Second line style */
    margin: 0px 0px 0px 35px; /* margin left to position the text and 0 for other */
    padding: 5px 0px 5px 0px; /* padding top and bottom to position the text and 0 for other */
    font-size: 70%;
}

.form_recherche{ /* First layer style for the form */
    display: flex;
    margin: 9px 0px 9px 35px; /* margin to position the form with the above text and the filters section */
    font-size: 75%;
}

.form_recherche label i{ /* style of the search label icon */
    color: #000; /* black icon */
    font-size: 105%; /* size of the icon */
    background-color: #F2F2F2; /* grey background */
    padding: 13px; /* padding to define the size of the background */
    border-top-left-radius: 10px; /* left border radius to round the background */
    border-bottom-left-radius: 10px; /* left border radius to round the background */
    margin: 0px; /* no margin, position made in the form */
}

.form_recherche input{ /* 1st layer style of the two inputs */
    appearance: none; /* suppress default behaviour */
    margin: 0px; /* no margin, position will be define in children */
    font-weight: 600;
    font-size: 100%;
}

.f_ville{ /* specific style of the search input */
    outline: none; /* no border when focus */
    size: 30; /* size of the text area */
    padding: 10.5px;
    border-width: 1px 0px 1px 0px; /* border on top and bottom */
    border-color: #F2F2F2;
    border-style: solid;
    color: #000;
    background-color: #FFF;
}

.f_ville::placeholder{ /* style for the suggestion text */
    color: #000; /* black color for suggestion text */
}

.f_button{ /* specific style of the search button */
    padding: 10px; /* define padding to fit with other */
    border-top-right-radius: 10px; /* define border radius to fit with left side of the search icon */
    border-bottom-right-radius: 10px; /* define border radius to fit with left side of the search icon */
    background-color: #0065FC;
    border: 0; /* suppress border */
    color: #FFF; /* white text */
}

.filtres{ /* 1st layer style for the filtres area */
    display: flex; /* activation of flex-box */
    flex-wrap: wrap; /* Add warp for responsive */
    justify-content: flex-start; /* position box at the left */
    margin: 0px 0px 0px 40px; /* specific margin to position from the page left side */
}

.filtres h2{ /* specific style for the title in the filtres area */
    margin-top: auto; /* in order to center in the horizontal direction */
    margin-bottom: auto; /* in order to center in the horizontal direction */
    font-size: 80%;
    font-weight: 600;
    margin-right: 20px; /* in order to set distance btw title and the group of filters */
}

.filtre_list{ /* specific style for the group of filters in the filtres area */
    display: flex; /* activation of flex-box */
    flex-wrap: wrap; /* Add warp for responsive */
    list-style-type: none; /* no puce */
    font-weight: 600;
    font-size: 80%;
    padding: 0px; /* no padding, positioning in the child */
}

.filtre_list li span{ /* definition of the filter text style */
    margin-right: 0px; /* in order to set distance btw title and the group of filters */
    padding: 7.5px 15px 7px 27px; /* in order to set distance btw each filter and fit with icons (+relative position) */
    /* definition of the grey border */
    border-top: 1.5px solid #D9D9D9;
    border-right: 1.5px solid #D9D9D9;
    border-bottom: 1.5px solid #D9D9D9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* position to fit icon with filters */
    position: relative;
    left: -17px;
    z-index: 1; /* text below icon for border effect */
}

.filtre_list li i{ /* definition of the global filter icon style */
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px; /* for background area shape */
    position: relative; /* position to fit icon with filters */
    z-index: 2; /* text below icon for border effect */
}

.other i{ /* definition of the specific economic filter icon style */
    padding: 10px; /* specific padding for background surface area in circle */
}

.economique i{ /* definition of the specific economic filter icon style */
    padding: 10px 8px 10px 8px; /* specific padding for background surface area in circle */
}

.familial i{ /* definition of the specific familial filter icon style */
    padding: 10px 12px 10px 12px; /* specific padding for background surface area in circle */
}

.filtre_list li:hover i{ /* definition of the specific behaviour for filters icon style when pointer hover */
    background-color: #F2F2F2; /* change background color */
    color: grey; /* change icon color */
    transition: 0.2s; /* transition duration */
    /* Add relief effect */
    box-shadow: 0px 0px 5px 1px #D9D9D9;
    /* ... */
}

.filtre_list li:hover span{ /* definition of the specific behaviour for filters icon style when pointer hover */
    background-color: #F2F2F2; /* change background color */
    border-color: #F2F2F2; /* change icon color */
    transition: 0.2s; /* transition duration */
    /* Add relief effect */
    box-shadow: inset 0px 0px 5px 1px #D9D9D9;
}

.info span{ /* Specific style for the text below filters */
    margin-top: auto; /* in order to center in the horizontal direction */
    margin-bottom: auto; /* in order to center in the horizontal direction */
    position: relative; /* position to fit icon with text horizontally */
    top: 1px; /* move top of 1 px */
}

.info i{ /* Specific style for the info icon */
    font-size: 70%; /* size of the icon */
    color: #0065FC;
    border: 1px solid #F2F2F2; /* set border for the circle around */
    padding: 3px 6px 3px 6px; /* set padding for the size and shape of the circle around */
    border-radius: 30px; /* set border radius for the shape of the circle around */
    margin-right: 8px; /* position of the icon with the text */
}

/* ========================================================================== */
/* Definition of the 'Hebergement' Section style */

.s_hebergement{ /* 1st layer of Hébergement section Style */
    max-width: 1128px; /* 1200 - 2 x 3% (padding) due to content-box */
    width: 94%; /* 100% - 2 x 3% (padding) due to content-box */
    margin: 0; /* No margin */
    padding: 0 3% 0 3%; /* No padding except for page border side with 35px */
    display: flex; /* flex-box activation */
    justify-content: space-between;
    flex-wrap: wrap; /* go to line if no more place for child element */
}

.a_hebergement{ /* Hébergement article Style */
    margin: 15px 1% 15px 0; /* position with margin for background */
    padding: 0; /* No padding */
    width: 66%; /* 2/3 for Hébergement, 1/3 for Populaire ; 67% - 2% (margin) = 65% */
    min-width: 550px; /* Min size + responsive for normal screen */
    background-color: #F2F2F2;
    border-radius: 20px;
}

.a_hebergement h2{ /* Hébergement title Style */
    margin: 30px auto 10px 25px; /* position with margin */
    padding: 0; /* No padding */
    font-size: 95%;
}

.div_hebergement{ /* Hébergement Area for cards Style  */
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px 0 15px; /* position with margin */
}

.fig_hebergement{ /* Hébergement cards Style */
    width: 30%;
    height: 130px;
    margin: 8px 1% 8px 1%; /* position with margin */
    padding: 0.5%; /* No padding */
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #D9D9D9;
}

.div_hebergement a{ /* Hébergement Link Style  */
    width: 100%;
    height: 100%;    
    text-decoration: none; /* No link default style */
    color:#000;
    display:flex;
    flex-direction: column;
}

.fig_hebergement img{ /* Hébergement cards : image Style */
    max-width: 100%;
    height: 63%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.figcap_hebergement{ /* Hébergement cards : figure caption Style */
    margin: 0px 10px 3px 10px;
    padding: 0;
}

.h4_hebergement{ /* Hébergement cards : Name Style */
    margin: 3px 0px 4px 0px;
    padding: 0;
    font-size: 70%;
}

.p_hebergement{ /* Hébergement cards : Text Price Style */
    margin: 0;
    padding: 0;
    font-size: 60%;
}

.p_hebergement .low_price{ /* Hébergement cards : Low Price Style */
    font-weight: 600;
}

.p_hebergement .euros{ /* Hébergement cards : Low Price Style */
    font-weight: 600;
}

.p_hebergement .price{ /* Hébergement cards : Normal Price Style */
    font-weight: 400;
}

.l_i_hebergement{ /* Hébergement cards : Evaluation Style */
    list-style-type: none; /* No puce */
    margin: 0;
    padding: 0; /* No space around icons */
    display: flex; /* flex-box for horizontal alinement */
}

.l_i_hebergement i{ /* Hébergement cards : Size of Stars */
    font-size: 60%;
}

.l_i_hebergement .etoile_bleu{ /* Hébergement cards : Bleu Star */
    color: #0065FC;
}

.l_i_hebergement .etoile_grise{ /* Hébergement cards : Grey Star */
    color: #D9D9D9;
}

.h3_more a{ /* Hébergement end title Style */
    text-decoration: none; /* No link default style */
    color:#000;
}

.h3_more{ /* Hébergement end title Style */
    margin: 15px auto 30px 25px; /* position with margin */
    padding: 0; /* No padding */
    font-size: 75%;
    font-weight: 600;
}

/* ========================================================================== */
/* Definition of the 'Populaire' Section style */
.a_populaire{ /* 1st layer of Populaire aside Style */
    margin: 15px 0 15px 2%; /* position with margin for background */
    padding: 0; /* No padding */
    width: 31%; /* 2/3 for Hébergement, 1/3 for Populaire ; 33% - 2% (margin) = 31% */
    min-width: 250px; /* Min size + responsive for normal screen */
    background-color: #F2F2F2;
    border-radius: 20px;
}

.title_pop{ /* Populaire title area Style */
    margin: 0; /* position with margin */
    padding: 0; /* No padding */
    display: flex; /* Auto horizontal positionning with flex-box*/
}

.title_pop h2{ /* Populaire title Style */
    margin: 30px auto 10px 25px; /* position with margin */
    padding: 0; /* No padding */
    font-size: 95%;
}

.title_pop i{ /* Populaire title icon Style */
    margin: 30px 25px 10px auto; /* position with margin */
    padding: 0; /* No padding */
    font-size: 100%;
}

.div_populaire{ /* Populaire Area for cards Style */
    display: flex;
    flex-wrap: wrap;
    margin: 0px 22px; /* position with margin */
}

.fig_populaire{ /* Populaire cards Style */
    width: 95.7%;
    height: 93px;
    margin: 8px 1.5% 8px 1.5%; /* position with margin */
    padding: 1.3%; /* No padding */
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #D9D9D9;
}

.fig_populaire a{ /* Populaire Link Style  */
    width: 100%;
    height: 100%;
    display:flex;
    text-decoration: none; /* No link default style */
    color:#000;
}

.fig_populaire img{ /* Populaire cards : image Style */
    max-height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.figcap_populaire{ /* Populaire cards : figure caption Style */
    margin: 5px 10px 3px 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h4_populaire{ /* Populaire cards : Name Style */
    margin: 2px 0;
    padding: 0;
    font-size: 70%;
}

.p_populaire{ /* Populaire cards : Text Price Style */
    margin: 2px 0;
    padding: 0;
    font-size: 60%;
}

.p_populaire .euros{ /* Populaire cards : euros Style */
    font-weight: 600;
}

.l_i_populaire{ /* Populaire cards : Evaluation Style */
    list-style-type: none; /* No puce */
    margin: auto 0 0 0;
    padding: 0; /* No space around icons */
    display: flex; /* flex-box for horizontal alinement */
}

.l_i_populaire i{ /* Populaire cards : Size of Stars */
    font-size: 50%;
}

.l_i_populaire .etoile_bleu{ /* Hébergement cards : Bleu Star */
    color: #0065FC;
}

.l_i_populaire .etoile_grise{ /* Hébergement cards : Grey Star */
    color: #D9D9D9;
}

/* ========================================================================== */
/* Definition of the 'Activités' Section style */
.s_activites{ /* 1st layer of Activités section Style */
    max-width: 1128px; /* 1200 - 2 x 3% (padding) due to content-box */
    width: 94%; /* 100% - 2 x 3% (padding) due to content-box */
    margin: 0; /* No margin */
    padding: 0 3% 0 3%; /* No padding except for page border side with 35px */

    border: 1px solid blue;
}

.h2_activites_title{ /* Activités title Style */
    margin: 25px 0 15px 0; /* position with margin for background */
    padding: 0; /* No padding */
    width: 100%;
    font-size: 95%;

    border: 1px solid red;
}

.div_activites{ /* Activités area Style */
    margin: 5px 0 15px 0; /* position with margin for background */
    padding: 0; /* No padding */
    width: 100%;
    min-width: 850px; /* 992 - 2 x 3% (padding) = 932 */
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;

    border: 1px solid red;
}

.fig_activites_portrait{ /* activites cards Style portrait */
    width: 205px;
    height: 305px;
    margin: 0px; /* No margin */
    padding: 0px; /* No padding */
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #F2F2F2;
}
.fig_activites_portrait img{ /* Activités cards : image Style portrait */
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fig_activites_paysage_big{ /* activites cards Style paysage big */
    width: 205px;
    height: 165px;
    margin: 0px; /* No margin */
    padding: 0px; /* No padding */
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #F2F2F2;
}
.fig_activites_paysage_big img{ /* Activités cards : image Style paysage big */
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fig_activites_paysage_norm{ /* activites cards Style paysage normal */
    width: 205px;
    height: 140px;
    margin: 0px; /* No margin */
    padding: 0px; /* No padding */
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #F2F2F2;
}
.fig_activites_paysage_norm img{ /* Activités cards : image Style paysage normal */
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fig_activites_paysage_small{ /* activites cards Style paysage small */
    width: 205px;
    height: 115px;
    margin: 0px; /* No margin */
    padding: 0px; /* No padding */
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px #F2F2F2;
}
.fig_activites_paysage_small img{ /* Activités cards : image Style paysage small */
    width: 100%;
    height: 75px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.link_activites{ /* Activites Link Style  */
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none; /* No link default style */
    color:#000;
}

.fig_activites_portrait img{ /* Activités cards : image Style */
    max-width: 100%;
    height: 265px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.figcap_activite{ /* Activités cards : figure caption Style */
    margin: auto 0;
    height: 40px;
    padding: 0;
    display: flex;
}

.h3_activite{ /* Activités cards : Name Style */
    margin: auto;
    padding-left: 15px;
    font-size: 70%;
}

/* ========================================================================== */
/* Definition of the 'Hebergement' Section style */

.footer{ /* 1st layer Footer style */
    margin-top: 40px;
    padding: 32px 35px 30px 35px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer div{ /* sub-aera of footer style */
    width: 33%;
}

.footer h2{ /* footer titles style */
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.footer ul{ /* footer liste style */
    margin: 7px 0 4px 0;
    padding: 0;
    list-style-type: none; /* No puce */
}

.footer li{ /* footer liste items style */
    margin: 0;
    padding: 1.5px 0;
}

.link_footer{ /* Footer links style */
    text-decoration: none; /* No link default style */
    color:#000;
    font-size: 70%;
}
/* #0065FC Bleu */
/* #DEEBFF bleu clair */
/* #F2F2F2 gris */

/* 6000 largeur pour 992 => facteur de 6 */
/* 1847 => 305
986 => big 163
685 => small 113
810 => 134
870 => 144 */



