p
{
    color: grey;
}

.salutation /* Utilisation d'une class ; elle peut être dans plusieurs balise */
{
    color: blue;
}

#cours /* Utilisation d'un ID ; il doit être unique, utilisé dans une seule balise */
{
    color: red;
}