p
{
    color: grey;
    font-size: 2ex;
    font-style: normal;
    text-align: justify; /* text-align ne marche que sur des balises de block et pas sur les balises de inline */
}

h2
{
    text-decoration: overline;
}

.salutation /* Utilisation d'une class ; elle peut être dans plusieurs balise */
{
    color: blue;
    font-size: 2.5ex;
    font-style: italic;
}

#cours /* Utilisation d'un ID ; il doit être unique, utilisé dans une seule balise */
{
    color: red;
    font-size: 3ex;
    font-weight: bold;
}

.suppr
{
    text-decoration: line-through;
}

/* Objet flottant */
.imageflottante
{
    float: left;
}